<%- include('templates/cabecera' , {tituloWeb:"Pagina de Inicio"}) %>

    <p class="text-primary">Archivo EJS</p>
    <h3> Renderizado desde el servidor este dice: <%= titulo%></h3>
    

<%- include('templates/footer') %>

